.ente-appartenenza1 {
    display: none;
}

.ente-appartenenza1,
.link1 {
    position: relative;
    line-height: 28px;
}

.navigation-chevron-expand2 {
    position: relative;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}

.labelchevron3 {
    display: none;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-base);
}

.labelchevron2 {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.placeholder-exagon39,
.shape-icon2 {
    position: relative;
    height: 24px;
    flex-shrink: 0;
}

.shape-icon2 {
    align-self: stretch;
    max-width: 100%;
    overflow: hidden;
}

.placeholder-exagon39 {
    width: 24px;
    display: none;
}

.txtleft-icon20 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.master-utilities20 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    gap: var(--gap-13xl);
}

.list-12,
.list4,
.master-utilities20,
.master-utilities22 {
    align-items: flex-start;
    justify-content: flex-start;
}

.master-utilities22 {
    align-self: stretch;
    display: none;
    flex-direction: row;
    gap: var(--gap-13xl);
}

.list-12,
.list4 {
    display: flex;
}

.list4 {
    flex-direction: column;
    gap: var(--gap-5xl);
}

.list-12 {
    flex-direction: row;
    padding: var(--padding-5xl);
}

.divider-icon2 {
    position: relative;
    width: 312px;
    height: 1px;
    flex-shrink: 0;
    display: none;
}

.list5 {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: var(--gap-5xl);
}

.list-22,
.list-container2,
.list5 {
    align-items: flex-start;
    justify-content: flex-start;
}

.list-22 {
    width: 312px;
    display: none;
    flex-direction: row;
    padding: var(--padding-5xl);
    box-sizing: border-box;
}

.list-container2 {
    border-radius: 0 0 var(--br-9xs) var(--br-9xs);
    background-color: var(--neutral-white);
    display: flex;
    flex-direction: column;
}

.container4,
.master-desktop-dropdownfu2,
.master-dropdown-left1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.master-desktop-dropdownfu2 {
    box-shadow: var(--shadow-m);
}

.master-dropdown-left1 {
    position: absolute;
    top: 24px;
    left: 0;
    color: var(--color-background-primary);
    font-family: var(--body-sans-lg);
}

.language-change-dropdown1 {
    position: relative;
    width: 65px;
    height: 24px;
    flex-shrink: 0;
    overflow: hidden;
    display: none;
}

.image-icon1 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.icon13,
.image-icon1,
.mr1 {
    position: absolute;
}

.icon13 {
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: none;
}

.mr1 {
    top: 25%;
    left: -144.27%;
    letter-spacing: -1px;
    line-height: 64px;
}

.letter1 {
    overflow: hidden;
    display: none;
}

.letter1,
.master-container1,
.overlay1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.overlay1 {
    background-color: var(--color-background-emphasis);
    display: none;
    opacity: 0.5;
}

.master-container1 {
    border-radius: var(--br-61xl);
    overflow: hidden;
}

.focus-outline-icon1,
.user-presence-icon1 {
    position: absolute;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    display: none;
}

.focus-outline-icon1 {
    height: 106.25%;
    width: 106.25%;
    top: -3.12%;
    right: -3.12%;
    bottom: -3.12%;
    left: -3.12%;
    border-radius: var(--br-9xs);
}

.user-presence-icon1 {
    height: 18.75%;
    width: 18.75%;
    top: 75%;
    right: 6.25%;
    bottom: 6.25%;
    left: 75%;
}

.master1 {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
}

.franca-rossi1 {
    position: relative;
    font-size: var(--body-sans-lg-size);
    line-height: 28px;
    font-family: var(--font-raleway);
    text-align: left;
}

.container6 {
    background-color: var(--primary-30);
    display: flex;
    flex-direction: row;
    padding: var(--padding-base);
    align-items: center;
    justify-content: center;
    gap: var(--gap-5xs);
}

.container5,
.logged-in-user-button1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.logged-in-user-button1 {
    position: absolute;
    top: 0;
    left: calc(50% - 102px);
    height: 56px;
    overflow: hidden;
    flex-direction: column;
}

.list-13,
.master-utilities33 {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.master-utilities33 {
    display: none;
    gap: var(--gap-13xl);
    color: var(--color-background-primary);
}

.list-13 {
    display: flex;
    padding: var(--padding-5xl);
}

.divider-icon3 {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 1px;
    flex-shrink: 0;
}

.master-utilities35 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-13xl);
    color: var(--primary-30);
}

.label39 {
    position: relative;
    line-height: 24px;
}

.list-23,
.list-container3 {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.list-23 {
    align-self: stretch;
    flex-direction: row;
    padding: var(--padding-5xl);
    color: var(--color-background-primary);
}

.list-container3 {
    border-radius: 0 0 var(--br-9xs) var(--br-9xs);
    background-color: var(--neutral-white);
    flex-direction: column;
}

.container7,
.list-container3 {
    align-self: stretch;
}

.container7,
.login-dropdown-left1,
.master-desktop-dropdownfu3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.master-desktop-dropdownfu3 {
    align-self: stretch;
    box-shadow: var(--shadow-m);
}

.login-dropdown-left1 {
    position: absolute;
    width: 100%;
    top: 56px;
    right: 0;
    left: 0;
    text-align: left;
    font-size: var(--body-sans-lg-size);
    color: var(--primary-30);
}

.header-button-logged-in-user1 {
    position: absolute;
    top: 0;
    right: 0;
    width: 211px;
    height: 56px;
    overflow: hidden;
}

.btn-login1 {
    position: relative;
    width: 211px;
    height: 56px;
    flex-shrink: 0;
    display: none;
    text-align: center;
    font-size: var(--font-size-45xl);
    font-family: var(--body-sans-lg);
}

.left-comntent1 {
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-5xl);
    font-size: var(--body-sans-lg-size);
    font-family: var(--font-raleway);
}

.desktop-full-responsive-butt1 {
    background-color: var(--primary-20);
    /* width: 1440px; */
    width: 100%;
    height: 78px;
    flex-shrink: 0;
    padding: var(--padding-0) var(--padding-21xl) var(--padding-0) var(--padding-43xl);
    box-sizing: border-box;
    gap: var(--gap-526xl);
}

.desktop-full-responsive-butt1,
.search1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.frame-item {
    position: relative;
    width: 28px;
    height: 24.09px;
    flex-shrink: 0;
}

.pipe-factory-lorem1 {
    position: relative;
    line-height: 24px;
    font-weight: 600;
}

.vector-icon3 {
    position: relative;
    width: 15px;
    height: 8.78px;
    flex-shrink: 0;
}

.pipe-factory-lorem-group,
.search-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.pipe-factory-lorem-group {
    background-color: var(--primary-30);
    padding: var(--padding-5xs) var(--padding-base);
    gap: var(--gap-base);
}

.search-group {
    gap: var(--gap-21xl);
    margin-left: -367px;
    font-size: var(--h100-size);
}

.desktop-full-responsive-butt-group {
    position: absolute;
    top: 0;
    left: 0;
    /* width: 1440px; */
    width: 100%;
    height: 78px;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: flex-end; */
    font-size: var(--h500-size);
    color: var(--neutral-white);
}

.rina-logo1 {
    position: relative;
    width: 54px;
    height: 40px;
    flex-shrink: 0;
}

.voice3 {
    position: relative;
    line-height: 24px;
    font-weight: 500;
}

.voice3:hover {
    cursor: pointer;
    text-decoration: underline;
}

.highlight2 {
    align-self: stretch;
    position: relative;
    background-color: var(--neutral-white);
    height: 1px;
    flex-shrink: 0;
    display: none;
}

.layoutmenu-voicesdesktop3 {
    height: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--gap-11xs);
}

.highlight3 {
    align-self: stretch;
    position: relative;
    background-color: var(--neutral-white);
    height: 1px;
    flex-shrink: 0;
}

.voice5 {
    position: relative;
    line-height: 24px;
    font-weight: 500;
    display: none;
}

.layoutmenu-voicesdesktop5 {
    height: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-menu1,
.men1 {
    flex-direction: row;
    justify-content: flex-start;
}

.men1 {
    display: flex;
    align-items: flex-start;
    gap: var(--gap-13xl);
}

.logo-menu1 {
    top: 12px;
    left: 32px;
    gap: var(--gap-37xl);
    font-size: var(--h300-size);
    color: var(--neutral-white);
}

.icon-name14,
.logo-menu1,
.title15 {
    position: absolute;
    display: flex;
    align-items: center;
}

.title15 {
    top: calc(50% - 339.5px);
    left: calc(50% - 688px);
    font-size: var(--h500-size);
    line-height: 78px;
    font-weight: 500;
    color: var(--primary-30);
    width: 222px;
}

.icon-name14 {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
}

.icon14 {
    position: relative;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.input-text {
    position: relative;
    line-height: 24px;
    font-family: var(--h300);
    text-align: left;
}

.left {
    width: 101px;
    flex-shrink: 0;
    align-items: center;
    gap: var(--gap-5xs);
}

.input-field-master-component,
.left,
.right {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.input-field-master-component {
    align-self: stretch;
    border-radius: var(--br-9xs);
    background-color: var(--neutral-white);
    box-shadow: var(--inner-text);
    border: 1px solid var(--neutral-50);
    box-sizing: border-box;
    width: 313.39px;
    flex-shrink: 0;
    padding: var(--padding-5xs) var(--padding-base);
    align-items: center;
}

.right {
    align-items: flex-start;
    color: var(--primary-10);
}

.input-field-master-component1 {
    flex: 1;
    border-radius: var(--br-9xs);
    background-color: var(--neutral-white);
    box-shadow: var(--inner-text);
    border: 1px solid var(--neutral-50);
    display: flex;
    flex-direction: row;
    padding: var(--padding-5xs) var(--padding-base);
    align-items: center;
    justify-content: space-between;
}

.input-field-master-component-parent {
    position: absolute;
    top: 157px;
    left: 34px;
    height: 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-lg);
    text-align: center;
    font-size: var(--h300-size);
    color: var(--primary-20);
    font-family: var(--font-material-icons);
}

.b {
    display: none;
}

.b,
.b1,
.value {
    position: relative;
    line-height: 24px;
}

.b1 {
    display: none;
    color: var(--color-text-muted);
}

.value {
    font-family: var(--h300);
    color: var(--primary-20);
}

.left-content {
    position: absolute;
    top: calc(50% - 12px);
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.number-input-arrows,
.number-input-arrows1 {
    position: relative;
    border-radius: var(--br-9xs) var(--br-9xs) 0 0;
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}

.number-input-arrows1 {
    border-radius: 0 0 var(--br-9xs) var(--br-9xs);
}

.number-buttons {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.right-content,
.text {
    position: absolute;
    top: calc(50% - 16px);
    height: 32px;
}

.right-content {
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: var(--gap-5xs);
}

.text {
    width: calc(100% - 16px);
    right: 8px;
    left: 8px;
}

.main-field {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-9xs);
    background-color: var(--neutral-white);
    border: 1px solid var(--color-text-muted);
    box-sizing: border-box;
}

.helper-text {
    position: absolute;
    top: 50px;
    left: 7px;
    font-size: var(--h100-size);
    line-height: 12px;
    color: var(--neutral-black);
}

.focus-outline {
    position: absolute;
    height: calc(100% + 8px);
    width: calc(100% + 8px);
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border-radius: var(--br-7xs);
    border: 1px solid var(--neutral-black);
    box-sizing: border-box;
    display: none;
}

.label44 {
    position: relative;
    line-height: 24px;
    font-weight: 600;
    display: none;
}

.label43 {
    position: absolute;
    bottom: 44px;
    left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--body-medium-size);
}

.master-field-simple {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset;
}

.datepicker {
    position: absolute;
    top: 0;
    left: 0;
    width: 315px;
    height: 40px;
    color: var(--color-text-secondary);
}

.b2,
.end-date {
    line-height: 24px;
}

.end-date {
    position: absolute;
    top: 8px;
    left: 182px;
    font-family: var(--h300);
}

.b2 {
    position: relative;
    display: none;
    color: var(--color-text-secondary);
}

.div {
    position: absolute;
    top: calc(50% - 12px);
    left: 164px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-5xs);
}

.datepicker-parent {
    position: absolute;
    top: 157px;
    left: 1027px;
    width: 315px;
    height: 40px;
    font-size: var(--h300-size);
    color: var(--primary-20);
    font-family: var(--body-sans-lg);
}

.avatar-icon4 {
    position: relative;
    width: 32px;
    height: 32px;
    flex-shrink: 0;
    display: none;
}

.ddt-1049400000 {
    position: relative;
    line-height: 20px;
    font-weight: 500;
}

.client8,
.client9 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.client9 {
    gap: var(--gap-xs);
}

.client8 {
    width: 162px;
    flex-shrink: 0;
    padding: var(--padding-5xs) var(--padding-32xl) var(--padding-5xs) var(--padding-0);
    box-sizing: border-box;
    font-size: var(--body-medium-size);
    color: var(--primary-30);
}

.divider17,
.title16 {
    position: relative;
    flex-shrink: 0;
}

.divider17 {
    background-color: var(--primary-90);
    width: 1px;
    height: 48px;
}

.title16 {
    font-size: var(--h100-size);
    line-height: 20px;
    color: var(--accent-50);
    display: flex;
    align-items: center;
    width: 122px;
}

.received-from4 {
    margin: 0;
}

.still-mill-lorem4 {
    margin: 0;
    font-size: var(--h100-size);
    font-weight: 500;
}

.divider19 {
    position: relative;
    width: 1px;
    height: 48px;
    flex-shrink: 0;
}

.co2e-300-kg-container,
.lorem-ipsum5 {
    position: relative;
    line-height: 16px;
}

.lorem-ipsum5 {
    font-weight: 500;
}

.button8,
.tag5 {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag5 {
    border-radius: var(--br-53xl);
    background-color: var(--color-seagreen);
    padding: var(--padding-9xs) var(--padding-xs);
    justify-content: flex-start;
    font-size: var(--h100-size);
    color: var(--neutral-white);
}

.button8 {
    border-radius: var(--br-21xl);
    padding: var(--padding-9xs);
    justify-content: center;
    text-align: center;
    font-size: var(--h500-size);
    color: var(--primary-20);
    font-family: var(--font-material-icons);
}

.layoutlistconsultant4 {
    top: 277px;
    left: 32px;
    border-radius: var(--br-9xs);
    background-color: var(--neutral-white);
    border: 1px solid var(--primary-90);
    width: 1375px;
    padding: var(--padding-0) var(--padding-5xl);
    gap: var(--gap-29xl);
}

.client12,
.layoutlistconsultant4,
.layoutlistconsultant5 {
    position: absolute;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    justify-content: flex-start;
}

.layoutlistconsultant5 {
    top: 221px;
    left: 32px;
    border-radius: var(--br-9xs);
    background-color: var(--neutral-white);
    border: 1px solid var(--primary-90);
    width: 1375px;
    padding: var(--padding-0) var(--padding-5xl);
    gap: var(--gap-29xl);
}

.layoutlistconsultant5:hover {
    cursor: pointer;
}

.client12 {
    top: 6px;
    left: 24px;
    width: 162px;
    padding: var(--padding-5xs) var(--padding-32xl) var(--padding-5xs) var(--padding-0);
    font-size: var(--body-medium-size);
    color: var(--primary-30);
}

.divider25 {
    position: absolute;
    top: 0;
    left: 234px;
    background-color: var(--primary-90);
    width: 1px;
    height: 48px;
}

.title18 {
    position: absolute;
    top: 14px;
    left: 283px;
    font-size: var(--h100-size);
    line-height: 20px;
    color: var(--accent-50);
    display: flex;
    align-items: center;
    width: 122px;
}

.divider26 {
    position: absolute;
    top: 0;
    left: 453px;
    background-color: var(--primary-90);
    width: 1px;
    height: 48px;
}

.received-from-still-container6 {
    position: absolute;
    top: 8px;
    left: 502px;
    line-height: 16px;
}

.divider27 {
    position: absolute;
    top: 0;
    left: 638px;
    width: 1px;
    height: 48px;
}

.delivered-data-00000000-container6 {
    position: absolute;
    top: 8px;
    left: 687px;
    line-height: 16px;
}

.divider28 {
    position: absolute;
    top: 0;
    left: 809px;
    background-color: var(--primary-90);
    width: 1px;
    height: 48px;
}

.co2e-30-kg-container4,
.verification-data-00000000-container6 {
    position: absolute;
    top: 8px;
    left: 858px;
    line-height: 16px;
}

.verification-data-00000000-container6 {
    left: 971px;
}

.button10,
.tag7 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tag7 {
    top: 12px;
    left: 1045px;
    border-radius: var(--br-53xl);
    background-color: var(--color-orange-100);
    padding: var(--padding-9xs) var(--padding-xs);
    justify-content: flex-start;
    font-size: var(--h100-size);
    color: var(--neutral-white);
}

.button10 {
    top: 8px;
    left: 1297px;
    border-radius: var(--br-21xl);
    padding: var(--padding-9xs);
    justify-content: center;
    text-align: center;
    font-size: var(--h500-size);
    color: var(--primary-20);
    font-family: var(--font-material-icons);
}

.layoutlistconsultant6 {
    top: 333px;
    left: 32px;
    border: 1px solid var(--primary-90);
    width: 1375px;
    height: 48px;
}

.layoutlistconsultant6,
.layoutlistconsultant7,
.layoutlistconsultant8 {
    position: absolute;
    border-radius: var(--br-9xs);
    background-color: var(--neutral-white);
    box-sizing: border-box;
}

.layoutlistconsultant7 {
    top: 389px;
    left: 32px;
    border: 1px solid var(--primary-90);
    width: 1375px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-5xl);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-29xl);
}

.layoutlistconsultant8 {
    top: 445px;
}

.layoutlistconsultant10,
.layoutlistconsultant8,
.layoutlistconsultant9 {
    left: 32px;
    border: 1px solid var(--primary-90);
    width: 1375px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-5xl);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-29xl);
}

.layoutlistconsultant9 {
    position: absolute;
    top: 501px;
    border-radius: var(--br-9xs);
    background-color: var(--neutral-white);
    box-sizing: border-box;
}

.layoutlistconsultant10 {
    top: 557px;
}

.layoutlistconsultant10,
.layoutlistconsultant11,
.verifier-log-child {
    position: absolute;
    border-radius: var(--br-9xs);
    background-color: var(--neutral-white);
    box-sizing: border-box;
}

.layoutlistconsultant11 {
    top: 613px;
    left: 32px;
    border: 1px solid var(--primary-90);
    width: 1375px;
    display: flex;
    flex-direction: row;
    padding: var(--padding-0) var(--padding-5xl);
    align-items: center;
    justify-content: flex-start;
    gap: var(--gap-29xl);
}

.verifier-log-child {
    top: 157px;
    left: 1366px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25) inset;
    border: 1px solid var(--accent-50);
    width: 40px;
    height: 40px;
}

.vector-icon4 {
    position: absolute;
    height: 2.63%;
    width: 2.01%;
    top: 19.83%;
    right: 2.71%;
    bottom: 77.54%;
    left: 95.28%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
}

.verifier-log {
    position: relative;
    background-color: var(--primary-97);
    width: 100%;
    height: 837px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-3xs);
    color: var(--color-dimgray-100);
    font-family: var(--h300);
}