.icon-name27,
.icon30 {
  flex-shrink: 0;
  display: flex;
}
.icon-name27 {
  position: relative;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
}
.icon30 {
  width: 20px;
  height: 20px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.title24 {
  position: relative;
  font-size: var(--h400-size);
  line-height: 40px;
  font-weight: 500;
  font-family: var(--h300);
  text-align: left;
}
.title-section1 {
  width: 124px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  color: var(--color-gray-100);
  font-family: var(--font-material-icons);
}

.title-section1:hover {
  cursor: pointer;
}

.lorem-ipsum13 {
  position: relative;
  line-height: 20px;
  font-weight: 500;
}
.tag13 {
  border-radius: var(--br-53xl);
  background-color: var(--color-seagreen);
  width: 177.38px;
  height: 28.05px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-9xs) var(--padding-xs);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--body-medium-size);
}
.label45 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
}
.button16 {
  border-radius: var(--br-9xs);
  background-color: var(--accent-50);
  height: 40px;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-base);
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.searchfield1 {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: var(--h300-size);
}
.layoutsection-title1 {
  position: absolute;
  width: 100%;
  top: 78px;
  right: 0;
  left: 0;
  background-color: var(--primary-97);
  height: 72px;
  display: flex;
  flex-direction: row;
  padding: var(--padding-base) var(--padding-base) var(--padding-base)
    var(--padding-21xl);
  box-sizing: border-box;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-1021xl);
  text-align: center;
  font-size: var(--h500-size);
  color: var(--neutral-white);
}
.ente-appartenenza2 {
  display: none;
}
.ente-appartenenza2,
.link2 {
  position: relative;
  line-height: 28px;
}
.navigation-chevron-expand4 {
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.labelchevron5 {
  display: none;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.labelchevron4 {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.placeholder-exagon78,
.shape-icon4 {
  position: relative;
  height: 24px;
  flex-shrink: 0;
}
.shape-icon4 {
  align-self: stretch;
  max-width: 100%;
  overflow: hidden;
}
.placeholder-exagon78 {
  width: 24px;
  display: none;
}
.txtleft-icon40 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.master-utilities40 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  gap: var(--gap-13xl);
}
.list-14,
.list8,
.master-utilities40,
.master-utilities42 {
  align-items: flex-start;
  justify-content: flex-start;
}
.master-utilities42 {
  align-self: stretch;
  display: none;
  flex-direction: row;
  gap: var(--gap-13xl);
}
.list-14,
.list8 {
  display: flex;
}
.list8 {
  flex-direction: column;
  gap: var(--gap-5xl);
}
.list-14 {
  flex-direction: row;
  padding: var(--padding-5xl);
}
.divider-icon4 {
  position: relative;
  width: 312px;
  height: 1px;
  flex-shrink: 0;
  display: none;
}
.list9 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5xl);
}
.list-24,
.list-container4,
.list9 {
  align-items: flex-start;
  justify-content: flex-start;
}
.list-24 {
  width: 312px;
  display: none;
  flex-direction: row;
  padding: var(--padding-5xl);
  box-sizing: border-box;
}
.list-container4 {
  border-radius: 0 0 var(--br-9xs) var(--br-9xs);
  background-color: var(--neutral-white);
  display: flex;
  flex-direction: column;
}
.container8,
.master-desktop-dropdownfu4,
.master-dropdown-left2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.master-desktop-dropdownfu4 {
  box-shadow: var(--shadow-m);
}
.master-dropdown-left2 {
  position: absolute;
  top: 24px;
  left: 0;
  color: var(--color-background-primary);
  font-family: var(--body-sans-lg);
}
.language-change-dropdown2 {
  position: relative;
  width: 65px;
  height: 24px;
  flex-shrink: 0;
  overflow: hidden;
  display: none;
}
.image-icon2 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon31,
.image-icon2,
.mr2 {
  position: absolute;
}
.icon31 {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.mr2 {
  top: 25%;
  left: -144.27%;
  letter-spacing: -1px;
  line-height: 64px;
}
.letter2 {
  overflow: hidden;
  display: none;
}
.letter2,
.master-container2,
.overlay2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.overlay2 {
  background-color: var(--color-background-emphasis);
  display: none;
  opacity: 0.5;
}
.master-container2 {
  border-radius: var(--br-61xl);
  overflow: hidden;
}
.focus-outline-icon2,
.user-presence-icon2 {
  position: absolute;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  display: none;
}
.focus-outline-icon2 {
  height: 106.25%;
  width: 106.25%;
  top: -3.12%;
  right: -3.12%;
  bottom: -3.12%;
  left: -3.12%;
  border-radius: var(--br-9xs);
}
.user-presence-icon2 {
  height: 18.75%;
  width: 18.75%;
  top: 75%;
  right: 6.25%;
  bottom: 6.25%;
  left: 75%;
}
.master2 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-9xs);
}
.franca-rossi2 {
  position: relative;
  font-size: var(--body-sans-lg-size);
  line-height: 28px;
  font-family: var(--font-raleway);
  text-align: left;
}
.container10 {
  background-color: var(--primary-30);
  display: flex;
  flex-direction: row;
  padding: var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.container9,
.logged-in-user-button2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.logged-in-user-button2 {
  position: absolute;
  top: 0;
  left: calc(50% - 102px);
  height: 56px;
  overflow: hidden;
  flex-direction: column;
}
.list-15,
.master-utilities53 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.master-utilities53 {
  display: none;
  gap: var(--gap-13xl);
  color: var(--color-background-primary);
}
.list-15 {
  display: flex;
  padding: var(--padding-5xl);
}
.divider-icon5 {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 1px;
  flex-shrink: 0;
}
.master-utilities55 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
  color: var(--primary-30);
}
.label62 {
  position: relative;
  line-height: 24px;
}
.list-25,
.list-container5 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.list-25 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-5xl);
  color: var(--color-background-primary);
}
.list-container5 {
  border-radius: 0 0 var(--br-9xs) var(--br-9xs);
  background-color: var(--neutral-white);
  flex-direction: column;
}
.container11,
.list-container5 {
  align-self: stretch;
}
.container11,
.login-dropdown-left2,
.master-desktop-dropdownfu5 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.master-desktop-dropdownfu5 {
  align-self: stretch;
  box-shadow: var(--shadow-m);
}
.login-dropdown-left2 {
  position: absolute;
  width: 100%;
  top: 56px;
  right: 0;
  left: 0;
  text-align: left;
  font-size: var(--body-sans-lg-size);
  color: var(--primary-30);
}
.header-button-logged-in-user2 {
  position: absolute;
  top: 0;
  right: 0;
  width: 211px;
  height: 56px;
  overflow: hidden;
}
.btn-login2 {
  position: relative;
  width: 211px;
  height: 56px;
  flex-shrink: 0;
  display: none;
  text-align: center;
  font-size: var(--font-size-45xl);
  font-family: var(--body-sans-lg);
}
.left-comntent2 {
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  gap: var(--gap-5xl);
  font-size: var(--body-sans-lg-size);
  font-family: var(--font-raleway);
}
.desktop-full-responsive-butt2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--primary-20);
  /* width: 1440px; */
  width:100%;
  height: 78px;
  padding: var(--padding-0) var(--padding-21xl) var(--padding-0)
    var(--padding-43xl);
  box-sizing: border-box;
  gap: var(--gap-526xl);
}
.desktop-full-responsive-butt2,
.search2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.vector-icon6 {
  position: relative;
  width: 20px;
  height: 24.09px;
  flex-shrink: 0;
}
.login {
  position: relative;
  line-height: 24px;
  font-weight: 600;
}
.vector-icon7 {
  position: relative;
  width: 15px;
  height: 8.78px;
  flex-shrink: 0;
}
.login-parent,
.search-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.login-parent {
  background-color: var(--primary-30);
  padding: var(--padding-5xs) var(--padding-base);
  gap: var(--gap-base);
}
.search-container {
  position: absolute;
  top: 19px;
  left: 1180px;
  gap: var(--gap-21xl);
  font-size: var(--h100-size);
}
.highlight4,
.rina-logo2 {
  position: relative;
  flex-shrink: 0;
}
.rina-logo2 {
  width: 54px;
  height: 40px;
}
.highlight4 {
  align-self: stretch;
  background-color: var(--neutral-white);
  height: 1px;
  display: none;
}
.layoutmenu-voicesdesktop6 {
  height: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--gap-11xs);
}
.voice8 {
  position: relative;
  line-height: 24px;
  font-weight: 500;
  display: none;
}
.layoutmenu-voicesdesktop8 {
  height: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.logo-menu2,
.men2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.logo-menu2 {
  position: absolute;
  top: 12px;
  left: 32px;
  align-items: center;
  gap: var(--gap-37xl);
  font-size: var(--h300-size);
}
.desktop-full-responsive-butt-container {
  position: absolute;
  top: 0;
  left: 0;
  /* width: 1440px; */
  width:100%;
  height: 78px;
  font-size: var(--h500-size);
  color: var(--neutral-white);
}
.verification-date1 {
  width: calc(100% - 361.15px);
  top: 40.97px;
  left: 235.08px;
  line-height: 16px;
  font-weight: 500;
  height: 16.03px;
}
.title25,
.title26,
.verification-date1 {
  position: absolute;
  display: flex;
  align-items: center;
}
.title25 {
  top: calc(50% - 38.98px);
  left: calc(50% - 53.42px);
  font-size: var(--body-medium-size);
  line-height: 20px;
  color: var(--primary-20);
  width: 90.83px;
  height: 20.04px;
}
.title26 {
  top: 0;
  right: 428.47px;
  font-size: var(--h400-size);
  line-height: 32px;
  font-weight: 500;
  width: 148.53px;
  height: 32.06px;
}
.title27,
.total-co2e1 {
  position: relative;
  display: flex;
  align-items: center;
}
.total-co2e1 {
  line-height: 16px;
  font-weight: 500;
  width: 186.99px;
}
.title27 {
  font-size: var(--body-medium-size);
  line-height: 20px;
  color: var(--primary-20);
  width: 42.74px;
}
.total-co2e-group {
  position: absolute;
  top: 41.17px;
  left: 1.07px;
  width: 186.99px;
  height: 44px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.certificates1 {
  position: absolute;
  width: 18.52%;
  top: 52.88%;
  left: 0.19%;
  font-size: var(--h300-size);
  line-height: 24px;
  font-weight: 500;
  color: var(--neutral-black);
  display: inline-block;
}
.icon-name28 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon32 {
  position: relative;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}
.image-123-abcjpg1,
.image6 {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.image6 {
  border-radius: var(--br-9xs);
  background-color: var(--neutral-white);
  width: 48px;
  height: 48px;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
}
.image-123-abcjpg1 {
  position: relative;
  font-size: var(--body-medium-size);
  line-height: 20px;
  font-weight: 500;
  font-family: var(--h300);
  color: var(--neutral-10);
  text-align: left;
  width: 424px;
  height: 20px;
}
.attachment3,
.button17,
.iconname1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.iconname1 {
  width: 480px;
  height: 48px;
  flex-shrink: 0;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.attachment3,
.button17 {
  border-radius: var(--br-21xl);
  padding: var(--padding-9xs);
  justify-content: center;
  font-size: var(--h500-size);
}
.attachment3 {
  position: absolute;
  height: 30.77%;
  top: 69.23%;
  bottom: 0;
  left: calc(50% - 288.5px);
  border-radius: var(--br-9xs);
  background-color: var(--primary-90);
  width: 577px;
  overflow: hidden;
  padding: var(--padding-5xs);
  box-sizing: border-box;
  justify-content: space-between;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: var(--primary-20);
  font-family: var(--font-material-icons);
}
.verification-date-group {
  position: absolute;
  top: 160px;
  left: 800px;
  width: 577px;
  height: 208px;
}
.product-id-l10494000004 {
  position: absolute;
  top: 18.4%;
  left: calc(50% - 688px);
  font-size: var(--h500-size);
  line-height: 36px;
  font-weight: 500;
}
.at-vero-eos1,
.label66 {
  font-size: var(--h300-size);
  line-height: 24px;
}
.at-vero-eos1 {
  position: absolute;
  top: 200px;
  left: 32px;
  color: var(--primary-20);
  display: inline-block;
  width: 698px;
  height: 48px;
}
.label66 {
  top: calc(50% - 154.5px);
  left: calc(50% - 629px);
  text-decoration: underline;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  width: 580px;
  height: 24px;
}
.ddt-number1,
.label66,
.seller1,
.title28 {
  position: absolute;
  display: flex;
  align-items: center;
}
.title28 {
  top: calc(50% - 32.5px);
  left: calc(50% - 687px);
  font-size: var(--body-medium-size);
  line-height: 20px;
  color: var(--primary-20);
  width: 92px;
}
.ddt-number1,
.seller1 {
  left: 34px;
  line-height: 16px;
  font-weight: 500;
}
.ddt-number1 {
  width: calc(100% - 1241px);
  top: 430px;
  height: 16px;
}
.seller1 {
  width: calc(100% - 1405px);
  top: 362px;
}
.title29 {
  top: calc(50% - 33.5px);
  left: calc(50% - 457px);
  font-size: var(--body-medium-size);
  line-height: 20px;
  color: var(--primary-20);
  width: 221px;
}
.title29,
.title30,
.weight {
  position: absolute;
  display: flex;
  align-items: center;
}
.weight {
  width: calc(100% - 1389px);
  top: 361px;
  left: 263px;
  line-height: 16px;
  font-weight: 500;
}
.title30 {
  top: calc(50% + 35.5px);
  left: calc(50% - 686px);
  font-size: var(--body-medium-size);
  line-height: 20px;
  color: var(--primary-20);
  width: 69px;
  height: 20px;
}
.dtt-date1 {
  width: calc(100% - 1241px);
  top: 429px;
  left: 263px;
  line-height: 16px;
  font-weight: 500;
  height: 16px;
}
.delivered-data13,
.dtt-date1,
.title31 {
  position: absolute;
  display: flex;
  align-items: center;
}
.title31 {
  top: calc(50% + 34.5px);
  left: calc(50% - 457px);
  font-size: var(--body-medium-size);
  line-height: 20px;
  color: var(--primary-20);
  width: 69px;
  height: 20px;
}
.delivered-data13 {
  width: calc(100% - 1241px);
  top: 429px;
  left: 536px;
  line-height: 16px;
  font-weight: 500;
  height: 16px;
}
.title32 {
  top: calc(50% + 34.5px);
  left: calc(50% - 184px);
  font-size: var(--body-medium-size);
  line-height: 20px;
  color: var(--primary-20);
  width: 69px;
  height: 20px;
}
.cfp,
.title32,
.title33 {
  position: absolute;
  display: flex;
  align-items: center;
}
.cfp {
  width: calc(100% - 1355px);
  top: 361px;
  left: 536px;
  line-height: 16px;
  font-weight: 500;
}
.title33 {
  top: calc(50% - 33.5px);
  left: calc(50% - 184px);
  font-size: var(--body-medium-size);
  line-height: 20px;
  color: var(--primary-20);
  width: 139px;
  height: 20px;
}
.title34 {
  position: absolute;
  top: 321px;
  right: 1268px;
  font-size: var(--h400-size);
  line-height: 32px;
  font-weight: 500;
}
.verification-number1 {
  position: relative;
  letter-spacing: 0.4px;
  line-height: 16px;
}
.label67 {
  position: relative;
  font-size: var(--h300-size);
  line-height: 24px;
  font-weight: 500;
}
.verification-number-group {
  position: absolute;
  top: 168px;
  left: 522.27px;
  width: 212.73px;
  height: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-9xs);
  text-align: right;
  color: var(--primary-60);
}
.divider49 {
  position: absolute;
  top: 79px;
  left: 770px;
  background-color: var(--primary-80);
  width: 2px;
  height: 695px;
  transform: rotate(180deg);
  transform-origin: 0 0;
}
.icon-name30 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
}
.icon34 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}
.drop-files-here1 {
  position: relative;
  line-height: 24px;
  font-family: var(--h300);
  text-align: left;
}
.content1,
.dropzone1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.content1 {
  width: 308px;
  flex-shrink: 0;
  gap: var(--gap-base);
}
.dropzone1 {
  position: absolute;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--primary-97);
  box-shadow: var(--dropzone-shadow);
  height: 64px;
  padding: var(--padding-5xs) var(--padding-0);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--h300-size);
  color: var(--primary-60);
  font-family: var(--font-material-icons);
}
.document-iconstext-style2 {
  position: relative;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  display: none;
}
.label-text1 {
  position: relative;
  line-height: 16px;
  font-weight: 600;
}
.master-button1,
.primary-filled-mini-text-o1 {
  border-radius: var(--br-9xs);
  display: flex;
  flex-direction: row;
}
.master-button1 {
  background-color: var(--accent-50);
  padding: var(--padding-xs) var(--padding-base);
  align-items: center;
  justify-content: center;
  gap: var(--gap-5xs);
}
.primary-filled-mini-text-o1 {
  position: absolute;
  top: 784px;
  left: 1238px;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: var(--h300-size);
  color: var(--neutral-white);
}
.verifier-anonimo-detail1 {
  position: relative;
  background-color: var(--primary-97);
  width: 100%;
  height: 837px;
  overflow: hidden;
  text-align: left;
  font-size: var(--h100-size);
  color: var(--primary-30);
  font-family: var(--h300);
}
